<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome, {{userName}} to {{ title }}!
  </h1>
  <p>{{currentFocus}}</p>
</div>
<!-- date -->
<div class="">
  <h1>Today's date is {{month}}/{{day}}/{{year}}</h1>
</div>

<!-- form for name input -->
<div class="">
  <form>
    <input placeholder="Enter your name" type="text" name="user" [(ngModel)]="userName">
  </form>
</div>
<!-- list of to-do items -->
<div class="">
  <h2>Here are the items on your To Do List </h2>
  <app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>

</div>
<!-- edit task stuff -->
<app-edit-task [childSelectedTask]="selectedTask" (clickedDone)="finishedEditing()"></app-edit-task>
<app-new-task (sendTask)="addTask($event)"></app-new-task>
