<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome, {{userName}} to {{ title }}!
  </h1>
  <p>{{currentFocus}}</p>
</div>
<!-- date -->
<div class="">
  <h1>Today's date is {{month}}/{{day}}/{{year}}</h1>
</div>
<!-- form for name input -->
<div class="">
  <form>
    <input placeholder="Enter your name" type="text" name="user" [(ngModel)]="userName">
  </form>
</div>
<!-- list of to-do items -->
<div class="">
  <h2>Here are the items on your To Do List </h2>
  <ul>
    <li [class]="priorityColor(currentTask)" *ngFor="let currentTask of tasks">{{currentTask.description}} <button (click)="editTask(currentTask)">Edit this task</button></li>
  </ul>
</div>
<!-- edit task stuff -->
<div class="">
  <h3>{{selectedTask.description}}</h3>
  <p>Task complete? {{selectedTask.done}}</p>
  <h3>Edit Task</h3>
  <label>Enter a new description for this task</label>
  <input type="text" [(ngModel)]="selectedTask.description">
  <br>
  <label>Enter a task priority (1-3)</label>
  <br>
  <input type="radio" [(ngModel)]="selectedTask.priority" value="1">1 (low priority) <br>
  <input type="radio" [(ngModel)]="selectedTask.priority" value="2">2 (medium priority) <br>
  <input type="radio" [(ngModel)]="selectedTask.priority" value="3">3 (high priority)
</div>
